bharath/bharath/src/main/resources/pgw.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://example.com/countries">
    <!--
<xs:include schemaLocation="./COMMON_DATA_TYPES.xsd" ></xs:include>
   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"  elementFormDefault="qualified"  >

    <xs:simpleType name="StringTypeM">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringTypeO">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="BulkTransType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[OI]{1}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BulkTransIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="IMEITypeO">
        <xs:union memberTypes="IMEIType EMPTY_STR"/>
    </xs:simpleType>

    <xs:simpleType name="IMEIType">
        <xs:restriction base="xs:string">
            <xs:minLength value="14" />
            <xs:maxLength value="16" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="BulkApiTransResType">
        <xs:sequence>
            <xs:element name="RECORD_NUMBER" type="RecNoType" />
            <xs:element name="SID" type="SidType" />
            <xs:element name="STATUS" type="BulkStatusType" />
            <xs:element name="RESPONSE_CODE" type="ResCodeType" />
            <xs:element name="RESPONSE_DESC" type="ResDescType" />
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SidType">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="IMSI" type="IMSIType" />
                <xs:element name="MSISDN" type="MSISDNType" />
                <xs:element name="ICCID" type="ICCIDType" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="BulkStatusType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[012]{1}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RecNoType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="1000" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResCodeType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-999999" />
            <xs:maxInclusive value="999999" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResDescType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="500" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IMSITypeO">
        <xs:union memberTypes="IMSIType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="IMSIType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{15}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MSISDNTypeO">
        <xs:union memberTypes="MSISDNType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MSISDNType">
        <xs:restriction base="xs:string">
            <xs:minLength value="4" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MSISDNWithoutCCTypeO">
        <xs:union memberTypes="MSISDNWithoutCCType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MSISDNWithoutCCType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:maxLength value="18" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ICCIDTypeO">
        <xs:union memberTypes="ICCIDType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ICCIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\s*|[a-zA-Z0-9]{19,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex3TypeO">
        <xs:union memberTypes="Hex3Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Hex3Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex4TypeO">
        <xs:union memberTypes="Hex4Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Hex4Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex6TypeO">
        <xs:union memberTypes="Hex6Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Hex6Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{12}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex8TypeO">
        <xs:union memberTypes="Hex8Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Hex8Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{16}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex16TypeO">
        <xs:union memberTypes="Hex16Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Hex16Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]{32}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReasonTypeO">
        <xs:union memberTypes="ReasonType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ReasonType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[RO]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModSubStatusTypeO">
        <xs:union memberTypes="ModSubStatusType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ModSubStatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[ABTF]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VMSStatusTypeO">
        <xs:union memberTypes="VMSStatusType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="VMSStatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[AD]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SSCodeNumberTypeO">
        <xs:union memberTypes="SSCodeNumberType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SSCodeNumberType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="41" />
            <xs:maxInclusive value="43" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ODBOperationTypeO">
        <xs:union memberTypes="ODBOperationType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ODBOperationType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[AE]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PragmaticOperationTypeO">
        <xs:union memberTypes="PragmaticOperationType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PragmaticOperationType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[AEP]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcProfileTypeO">
        <xs:union memberTypes="PacketSrvcProfileType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcProfileType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[HRLB]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcProfileType2O">
        <xs:union memberTypes="PacketSrvcProfileType2 EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcProfileType2">
        <xs:restriction base="xs:string">
            <xs:enumeration value="H" />
            <xs:enumeration value="R" />
            <xs:enumeration value="L" />
            <xs:enumeration value="B" />
            <xs:enumeration value="HR" />
            <xs:enumeration value="HL" />
            <xs:enumeration value="RL" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcTypeO">
        <xs:union memberTypes="PacketSrvcType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PacketSrvcType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GPRS" />
            <xs:enumeration value="4G" />
            <xs:enumeration value="GPRSand4G" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PdpConfOptionTypeO">
        <xs:union memberTypes="PdpConfOptionType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PdpConfOptionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[NS]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SSOperationTypeO">
        <xs:union memberTypes="SSOperationType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SSOperationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGISTER" />
            <xs:enumeration value="ERASE" />
            <xs:enumeration value="ACTIVATE" />
            <xs:enumeration value="DE_ACTIVATE" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SSCodeTypeO">
        <xs:union memberTypes="SSCodeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SSCodeType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="17" />
            <xs:enumeration value="18" />
            <xs:enumeration value="19" />
            <xs:enumeration value="20" />
            <xs:enumeration value="33" />
            <xs:enumeration value="41" />
            <xs:enumeration value="42" />
            <xs:enumeration value="43" />
            <xs:enumeration value="49" />
            <xs:enumeration value="65" />
            <xs:enumeration value="66" />
            <xs:enumeration value="81" />
            <xs:enumeration value="146" />
            <xs:enumeration value="147" />
            <xs:enumeration value="148" />
            <xs:enumeration value="154" />
            <xs:enumeration value="155" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RATTypeO">
        <xs:union memberTypes="RATType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="RATType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1000" />
            <xs:enumeration value="1001" />
            <xs:enumeration value="1002" />
            <xs:enumeration value="1003" />
            <xs:enumeration value="1004" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BSCodeTypeO">
        <xs:union memberTypes="BSCodeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="BSCodeType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="16" />
            <xs:enumeration value="32" />
            <xs:enumeration value="96" />
            <xs:enumeration value="144" />
            <xs:enumeration value="24" />
            <xs:enumeration value="40" />
            <xs:enumeration value="48" />
            <xs:enumeration value="56" />
            <xs:enumeration value="64" />
            <xs:enumeration value="72" />
            <xs:enumeration value="80" />
            <xs:enumeration value="88" />
            <xs:enumeration value="104" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Value1or2TypeO">
        <xs:union memberTypes="Value1or2Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Value1or2Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Value0or1TypeO">
        <xs:union memberTypes="Value0or1Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="Value0or1Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReplyCondTimerTypeO">
        <xs:union memberTypes="NoReplyCondTimerType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NoReplyCondTimerType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="5" />
            <xs:enumeration value="10" />
            <xs:enumeration value="15" />
            <xs:enumeration value="20" />
            <xs:enumeration value="25" />
            <xs:enumeration value="30" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen4zTypeO">
        <xs:union memberTypes="StringLen4zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen4zType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen5zTypeO">
        <xs:union memberTypes="StringLen5zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen5zType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen10zTypeO">
        <xs:union memberTypes="StringLen10zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen10zType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen20zTypeO">
        <xs:union memberTypes="StringLen20zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen20zType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen20TypeO">
        <xs:union memberTypes="StringLen20Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen20Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen28TypeO">
        <xs:union memberTypes="StringLen28Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen28Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="28" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen34TypeO">
        <xs:union memberTypes="StringLen34Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen34Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="34" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringLen100TypeO">
        <xs:union memberTypes="StringLen100Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringLen100Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImsiCategoryTypeO">
        <xs:union memberTypes="ImsiCategoryType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ImsiCategoryType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[PSL]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCodeTypeO">
        <xs:union memberTypes="CountryCodeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CountryCodeType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CliPrefTypeO">
        <xs:union memberTypes="CliPrefType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CliPrefType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[HLN]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ApnTypeTypeO">
        <xs:union memberTypes="ApnTypeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ApnTypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[HL]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberMax1zTypeO">
        <xs:union memberTypes="NumberMax1zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberMax1zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberMax2zTypeO">
        <xs:union memberTypes="NumberMax2zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberMax2zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortOutModelTypeO">
        <xs:union memberTypes="PortOutModelType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PortOutModelType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberMax3zTypeO">
        <xs:union memberTypes="NumberMax3zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberMax3zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberMax7zTypeO">
        <xs:union memberTypes="NumberMax7zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberMax7zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="7" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen2zTypeO">
        <xs:union memberTypes="NumberLen2zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen2zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="99" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen2TypeO">
        <xs:union memberTypes="NumberLen2Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen2Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="99" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen3zTypeO">
        <xs:union memberTypes="NumberLen3zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen3zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen4TypeO">
        <xs:union memberTypes="NumberLen4Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen4Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="9999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen5TypeO">
        <xs:union memberTypes="NumberLen5Type EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen5Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="99999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen5zTypeO">
        <xs:union memberTypes="NumberLen5zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen5zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="99999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberLen7zTypeO">
        <xs:union memberTypes="NumberLen7zType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NumberLen7zType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="9999999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThirtyTwoBitValDataTypeO">
        <xs:union memberTypes="ThirtyTwoBitValDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ThirtyTwoBitValDataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{32}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OdbHplmnValTypeO">
        <xs:union memberTypes="OdbHplmnValType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="OdbHplmnValType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThirtyTwoBitNumDataTypeO">
        <xs:union memberTypes="ThirtyTwoBitNumDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ThirtyTwoBitNumDataType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="4294967295" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OdbHplmnDataTypeO">
        <xs:union memberTypes="OdbHplmnDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="OdbHplmnDataType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MmeUlrFlagsTypeO">
        <xs:union memberTypes="MmeUlrFlagsType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MmeUlrFlagsType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccessRestrTypeO">
        <xs:union memberTypes="AccessRestrType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="AccessRestrType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="252" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimStructureTypeO">
        <xs:union memberTypes="SimStructureType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SimStructureType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([F0-9])*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SubscriberStatusTypeO">
        <xs:union memberTypes="SubscriberStatusType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SubscriberStatusType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[ABP]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RetrievalTypeO">
        <xs:union memberTypes="RetrievalType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="RetrievalType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BDE]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PragmaticSrvcDataTypeO">
        <xs:union memberTypes="PragmaticSrvcDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PragmaticSrvcDataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{50}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BearerSrvcDataTypeO">
        <xs:union memberTypes="BearerSrvcDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="BearerSrvcDataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{52}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TeleSrvcDataTypeO">
        <xs:union memberTypes="TeleSrvcDataType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="TeleSrvcDataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{32}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsiFlagsTypeO">
        <xs:union memberTypes="CsiFlagsType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CsiFlagsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{14}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SubscriberFlagsTypeO">
        <xs:union memberTypes="SubscriberFlagsType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SubscriberFlagsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01,]{9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegAvailFlagTypeO">
        <xs:union memberTypes="RegAvailFlagType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="RegAvailFlagType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[123]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSSubsStateTypeO">
        <xs:union memberTypes="CSSubsStateType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CSSubsStateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AssumedIdle" />
            <xs:enumeration value="CamelBusy" />
            <xs:enumeration value="NetDetNotReachable" />
            <xs:enumeration value="NotProvidedFromVLR" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PSSubsStateTypeO">
        <xs:union memberTypes="PSSubsStateType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="PSSubsStateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NotProvidedFromSGSN" />
            <xs:enumeration value="PSDetached" />
            <xs:enumeration value="PSAttachedNotReachableForPaging" />
            <xs:enumeration value="PSAttachedReachableForPaging" />
            <xs:enumeration value="PDPActiveNotReachableForPaging" />
            <xs:enumeration value="PDPActiveReachableForPaging" />
            <xs:enumeration value="MsPurged" />
            <xs:enumeration value="ImsiDetached" />
            <xs:enumeration value="NotReachableReasonRestrictedArea" />
            <xs:enumeration value="NotRegistered" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringOnlyDigitsTypeO">
        <xs:union memberTypes="StringOnlyDigitsType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StringOnlyDigitsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\d)*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BooleanTypeO">
        <xs:union memberTypes="BooleanType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="BooleanType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BooleanYesNoTypeO">
        <xs:union memberTypes="BooleanYesNoType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="BooleanYesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditiontypeTypeO">
        <xs:union memberTypes="AdditiontypeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="AdditiontypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[IMB]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsisdnAllocationFlagO">
        <xs:union memberTypes="MsisdnAllocationFlag EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MsisdnAllocationFlag">
        <xs:restriction base="xs:string">
            <xs:pattern value="[NA]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RemovetypeTypeO">
        <xs:union memberTypes="RemovetypeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="RemovetypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="B" />
            <xs:enumeration value="I" />
            <xs:enumeration value="M" />
            <xs:enumeration value="AB" />
            <xs:enumeration value="AI" />
            <xs:enumeration value="AM" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MSISDNSTypeO">
        <xs:union memberTypes="MSISDNSType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MSISDNSType">
        <xs:restriction base="xs:string">
            <xs:minLength value="4" />
            <xs:maxLength value="10000" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LteConfOptionTypeO">
        <xs:union memberTypes="LteConfOptionType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="LteConfOptionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[NS]{1}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SIDRangeDataType">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="IMSI_RANGE" type="IMSIRangeType" />
                <xs:element name="MSISDN_RANGE" type="MSISDNRangeType" />
                <xs:element name="ICC_ID_RANGE" type="ICCIDRangeType" />
                <xs:element name="IMSI_LIST" type="IMSIListType" />
                <xs:element name="MSISDN_LIST" type="MSISDNListType" />
                <xs:element name="ICC_ID_LIST" type="ICCIDListType" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IMSIRangeType">
        <xs:sequence>
            <xs:element name="RANGE" type="IMSIRangeDataType" minOccurs="1" maxOccurs="10" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IMSIRangeDataType">
        <xs:sequence>
            <xs:element name="FROM" type="IMSIType" />
            <xs:element name="TO" type="IMSIType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MSISDNRangeType">
        <xs:sequence>
            <xs:element name="RANGE" type="MSISDNRangeDataType" minOccurs="1" maxOccurs="10" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MSISDNRangeDataType">
        <xs:sequence>
            <xs:element name="FROM" type="MSISDNType" />
            <xs:element name="TO" type="MSISDNType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ICCIDRangeType">
        <xs:sequence>
            <xs:element name="RANGE" type="ICCIDRangeDataType" minOccurs="1" maxOccurs="10" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ICCIDRangeDataType">
        <xs:sequence>
            <xs:element name="FROM" type="ICCIDType" />
            <xs:element name="TO" type="ICCIDType" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="IMSIListType">
        <xs:sequence>
            <xs:element name="IMSI" type="IMSIType" minOccurs="1" maxOccurs="1000" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MSISDNListType">
        <xs:sequence>
            <xs:element name="MSISDN" type="MSISDNType" minOccurs="1" maxOccurs="1000" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ICCIDListType">
        <xs:sequence>
            <xs:element name="ICC_ID" type="ICCIDType" minOccurs="1" maxOccurs="1000" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProfileIdType">
        <xs:sequence>
            <xs:element name="HOME" type="xs:integer" minOccurs="0" />
            <xs:element name="ROAM" type="xs:integer" minOccurs="0" />
            <xs:element name="LOCAL_ROAM" type="xs:integer" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AllocPhaseTypeO">
        <xs:union memberTypes="AllocPhaseType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="AllocPhaseType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[IR]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllocationtypeTypeO">
        <xs:union memberTypes="AllocationtypeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="AllocationtypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BRSNA]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NpaTypeO">
        <xs:union memberTypes="NpaType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NpaType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NpaStateTypeO">
        <xs:union memberTypes="NpaStateType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NpaStateType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChannelIdTypeO">
        <xs:union memberTypes="ChannelIdType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ChannelIdType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IVR" />
            <xs:enumeration value="CBOS" />
            <xs:enumeration value="CPOS" />
            <xs:enumeration value="SELFP" />
            <xs:enumeration value="USSD" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RangeCountTypeO">
        <xs:union memberTypes="RangeCountType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="RangeCountType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NpaRangesType">
        <xs:sequence>
            <xs:element name="R001" type="xs:string" minOccurs="0" />
            <xs:element name="R002" type="xs:string" minOccurs="0" />
            <xs:element name="R003" type="xs:string" minOccurs="0" />
            <xs:element name="R004" type="xs:string" minOccurs="0" />
            <xs:element name="R005" type="xs:string" minOccurs="0" />
            <xs:element name="R006" type="xs:string" minOccurs="0" />
            <xs:element name="R007" type="xs:string" minOccurs="0" />
            <xs:element name="R008" type="xs:string" minOccurs="0" />
            <xs:element name="R009" type="xs:string" minOccurs="0" />
            <xs:element name="R010" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatesCountTypeO">
        <xs:union memberTypes="StatesCountType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StatesCountType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="10" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatesType">
        <xs:sequence>
            <xs:element name="S01" type="xs:string" minOccurs="0" />
            <xs:element name="S02" type="xs:string" minOccurs="0" />
            <xs:element name="S03" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActionTakenTypeO">
        <xs:union memberTypes="ActionTakenType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ActionTakenType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[ABRS]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GetLocInfoTypeO">
        <xs:union memberTypes="GetLocInfoType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="GetLocInfoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BE]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SubsStateO">
        <xs:union memberTypes="SubsState EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="SubsState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AssumedIdle" />
            <xs:enumeration value="CamelBusy" />
            <xs:enumeration value="NetDetNotReachable" />
            <xs:enumeration value="NotProvidedFromVLR" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSRetrivedFlagO">
        <xs:union memberTypes="CSRetrivedFlag EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CSRetrivedFlag">
        <xs:restriction base="xs:string">
            <xs:pattern value="[YN]{1}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSAgeofTypeO">
        <xs:union memberTypes="CSAgeofType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="CSAgeofType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VlrCapabilityType">
        <xs:sequence>
            <xs:element name="SUPP_LCS_CAPABILITIES" type="ModifyCsiType" minOccurs="1" />
            <xs:element name="SUPP_CAMEL_PHASES" type="ModifyCsiType" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ModifyCsiTypeO">
        <xs:union memberTypes="ModifyCsiType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ModifyCsiType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="14" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MNPInfoTypeO">
        <xs:union memberTypes="MNPInfoType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="MNPInfoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NotKnownToBePorted" />
            <xs:enumeration value="OwnNumberPortedOut" />
            <xs:enumeration value="ForeignNumberPortedToForeignNetwork" />
            <xs:enumeration value="OwnNumberNotPortedOut" />
            <xs:enumeration value="ForeignNumberPortedIn" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StateCodeTypeO">
        <xs:union memberTypes="StateCodeType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="StateCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="packageTypeO">
        <xs:union memberTypes="packageType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="packageType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ZIPTypeO">
        <xs:union memberTypes="ZIPType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="ZIPType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BalanceTypeO">
        <xs:union memberTypes="BalanceType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="BalanceType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value ="15"/>
            <xs:fractionDigits value="4"/>
            <xs:pattern value="[0-9]{1,10}[\.]?[0-9]{0,4}"/>
            <!--<xs:pattern value="[0-9]{1,10}[\.]?[0-9]{0,6}"/>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NameTypeO">
        <xs:union memberTypes="NameType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="NameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_.' !@#$%^*()-_+={}|/:;,>?/`~ ]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EMPTY_STR">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CmnAccountIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataCodingType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <!-- FRR_4626_Start-->
    <xs:simpleType name="YYYYMMDDHHMMSSTypeO">
        <xs:union memberTypes="YYYYMMDDHHMMSSType EMPTY_STR"/>
    </xs:simpleType>
    <xs:simpleType name="YYYYMMDDHHMMSSType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{4}(([0]{1}[0-9]{1})|([1]{1}[0-2]{1}))(([0-2]{1}[0-9]{1})|([3]{1}[0-1]{1}))(([0-1]{1}[0-9]{1})|([2]{1}[0-3]{1}))(([0-5]{1}[0-9]{1})|([6]{1}[0]{1}))(([0-5]{1}[0-9]{1})|([6]{1}[0]{1}))"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- FRR_4626_End -->
    </xs:schema>
   <xs:element name="GET_BILLING_CYCLES_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
                  
    <xs:element name="GET_BILLING_CYCLES_RESPONSE">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="LIST" type="ListType" minOccurs="1" nillable="true"/>
				<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>				  
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <xs:complexType name="ListType">
     <xs:all>
       <xs:element name="NAME" type="StringTypeO" minOccurs="1" nillable="true"/>
       <xs:element name="BILLINGDATESHIFT" type="BillingdateType" minOccurs="1" nillable="true"/>
       <xs:element name="LOCKED" type="BooleanType" minOccurs="1" nillable="true"/>
       <xs:element name="DESCRIPTION" type="StringTypeO" minOccurs="1" nillable="true"/>
       <xs:element name="FREQUENCY" type="StringTypeO" minOccurs="1" nillable="true"/>
       <xs:element name="DUEDATESHIFT" type="DueDateType" minOccurs="1" nillable="true"/>
     </xs:all>
   </xs:complexType>
   
   <xs:simpleType name="BillingdateType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="28" />
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="DueDateType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0" />
      </xs:restriction>
   </xs:simpleType>
   
    <xs:element name="CREATE_CUSTOMER_REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
        <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
        <xs:element name="MSISDN" type="MSISDNType" minOccurs="1"/>
		<xs:element name="ICCID" type="ICCIDType" minOccurs="0"/>
        <xs:element name="SUBSTYPE" type="NumberMax2zType" minOccurs="1"/>
        <xs:element name="PREFERREDLANGUAGE" type="PreferedLanguageType" minOccurs="1"/>
        <xs:element name="DOB" type="xs:date" minOccurs="1"/>
        <xs:element name="TITLE" type="TitleType" minOccurs="1"/>
        <xs:element name="FIRSTNAME" type="StringTypeM" minOccurs="1"/>
        <xs:element name="SURNAME" type="StringTypeM" minOccurs="1"/>
        <xs:element name="BILLINGCYCLE" type="StringTypeM" minOccurs="1"/>
        <xs:element name="CONTACTMEDIUMS" type="ContactMediumsType" minOccurs="2" maxOccurs="3"/>
		<xs:element name="CREDIT_SCORE" type="CreditScoreType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   
   <xs:simpleType name="PreferedLanguageType">
      <xs:restriction base="xs:string">
		<xs:enumeration value="nl"/>
        <xs:enumeration value="en"/>
	  </xs:restriction>
   </xs:simpleType>
   
      <xs:simpleType name="CreditScoreType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="999" />
      </xs:restriction>
   </xs:simpleType>
   
   
  <xs:element name="CREATE_CUSTOMER_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element name ="BILLINGACCOUNTID" type ="StringTypeM" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
      </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ContactMediumsType">
    <xs:sequence>
      <xs:element name="TYPE" type="ContectMediumType" minOccurs="1" />
	  <xs:choice>
		<xs:group ref="EmailAddressGroup"/>
		<xs:group ref="PostalAddressGroup"/>
	  </xs:choice>
    </xs:sequence>
  </xs:complexType> 
  
  	<xs:group name="EmailAddressGroup">
		<xs:sequence>
			<xs:element name="EMAILADDRESS" type="StringTypeO" minOccurs="1" />
  			<xs:element name="PREFERRED" type="BooleanType" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	
	<xs:group name="PostalAddressGroup">
		<xs:sequence>
			<xs:element name="CITY" type="StringTypeO" minOccurs="1" />
			<xs:element name="COUNTRY" type="StringTypeO" minOccurs="1" />
			<xs:element name="POSTCODE" type="StringTypeO" minOccurs="1" />
			<xs:element name="STREETNAME" type="StringTypeO" minOccurs="1" />
			<xs:element name="STREETNR" type="StringTypeO" minOccurs="0" />
			<xs:element name="STREETTYPE" type="StringTypeO" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	
  <xs:complexType name = "SpendCapLimitType">
      <xs:sequence>
         <xs:element name="VALUE" type = "xs:float" minOccurs="1"/>
         <xs:element name="UNIT" type = "StringTypeO" minOccurs="1"/>
       </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="TitleType">
      <xs:restriction base="xs:string">
		<xs:enumeration value="MR"/>
        <xs:enumeration value="MS"/>
		<xs:enumeration value="MRS"/>
        <xs:enumeration value="DR"/>
		<xs:enumeration value="MISS"/>
        <xs:enumeration value="MX"/>
		<xs:enumeration value="PROF"/>
        <xs:enumeration value="REV"/>
		<xs:enumeration value="SIR"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="ContectMediumType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="Email"/>
        <xs:enumeration value="PostalAddress"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:element name="GET_CREDIT_CHECK_REPORT_REQUEST">
   <xs:complexType>
       <xs:sequence>
          <xs:element name="ID" type="NumberLen7zType" />
          <xs:element name="DESC" type="StringTypeM" />
          <xs:element name="FIRSTNAME" type="StringTypeM" />
          <xs:element name="SURNAME" type="StringTypeM" />
          <xs:element name="DOB" type="StringTypeM" />
		  <xs:element name="EMAIL" type="StringTypeO" minOccurs="0" />
		  <xs:element name="CPR_NUMBER" type="StringTypeO" minOccurs="0"/>
          <xs:element name="LOCATIONS" type="LocationsType1" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
    </xs:complexType>
 </xs:element>

 <xs:element name="GET_CREDIT_CHECK_REPORT_RESPONSE">
    <xs:complexType>
       <xs:sequence minOccurs="0">
          <xs:element name="CREDITSTATUS" type="CreditStatusType" minOccurs="1" nillable="true"/>
		  <xs:element name="CREDIT_SCORE" type="xs:integer" minOccurs="0" nillable="true"/>
		  <xs:element name="CREDIT_INDICATOR" type="StringTypeO" minOccurs="0" nillable="true"/>
		  <xs:element name="CRIF_TRANSACTION_ID" type="StringTypeO" minOccurs="0" nillable="true"/>
       </xs:sequence>
    </xs:complexType>
 </xs:element>

   <xs:simpleType name="CreditStatusType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="PASS"/>
        <xs:enumeration value="FAIL"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:complexType name="LocationsType1">
     <xs:sequence minOccurs="1" maxOccurs="3">
       <xs:element name="LOCATION" type="LocationType1"/>
     </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="LocationType1">
     <xs:sequence>
	   <xs:element name="IS_OVERSEAS_LOCATION" type="xs:integer" minOccurs="0"/>
       <xs:element name="LOCATIONIDENTIFIER" type="LocationIdentType"/>
       <xs:element name="FLAT" type="StringTypeO" minOccurs="0"/>
       <xs:element name="HOUSENAME" type="StringTypeO" minOccurs="0"/>
       <xs:element name="HOUSENUMBER" type="StringTypeM"/>
       <xs:element name="STREET" type="StringTypeM"/>
       <xs:element name="STREET2" type="StringTypeO" minOccurs="0"/>
       <xs:element name="DISTRICT" type="StringTypeM"/>
       <xs:element name="DISTRICT2" type="StringTypeO" minOccurs="0"/>
       <xs:element name="POSTTOWN" type="StringTypeM"/>
       <xs:element name="COUNTRY" type="StringTypeM"/>
       <xs:element name="POSTCODE" type="StringTypeM"/>
       <xs:element name="POBOX" type="StringTypeO" minOccurs="0"/>
       <xs:element name="SHAREDLETTERBOX" type="SharedLetterBoxType" minOccurs="0"/>
	   <xs:element name="RESIDENTPERIOD" type="ResidentType" minOccurs="0"/>
     </xs:sequence>
   </xs:complexType>
   
   
   <xs:complexType name = "ResidentType">
      <xs:sequence>
         <xs:element name="STARTDATE" type = "YearDateType" minOccurs="1"/>
         <xs:element name="ENDDATE" type = "YearDateType" minOccurs="1"/>
       </xs:sequence>
  </xs:complexType>
   
   <xs:simpleType name="LocationIdentType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1" />
       <xs:maxInclusive value="3" />
      </xs:restriction>
   </xs:simpleType>
   
   
   
    <xs:simpleType name="SharedLetterBoxType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="Y"/>
        <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:element name = "SUBSCRIBE_PRODUCT_OFFERING_REQUEST" >
        <xs:complexType>
            <xs:sequence>
			
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="1"/>
				<xs:element name="MSISDN" type="MSISDNType" minOccurs="1"/>
				<xs:element name="PROVISIONMODEL" type="provdmodelType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:group ref="OnboardGroup"/>
					<xs:group ref="ProvisionGroup"/>
					<xs:group ref="UpgradeGroup"/>
				</xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	 <xs:group name = "UpgradeGroup">
		<xs:sequence>
			<xs:element name="CURRENTPRODUCT" type="StringTypeM" minOccurs="1"/>
			<xs:element name="CHANGEPRODUCT" type="StringTypeM" minOccurs="1"/>
			<xs:element name="PLAN_CHANGE_OPTION" type="StringTypeO" minOccurs="1"/>
		</xs:sequence>
	</xs:group>
	
   <xs:group name = "ProvisionGroup">
		<xs:sequence>
			<xs:element name="PROVISIONPRODUCTNAME" type="StringTypeM" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="PRODUCTOFFERINGID" type="xs:string" minOccurs="1"/>
		</xs:sequence>
	</xs:group>
    
	<xs:group name = "OnboardGroup">
		<xs:sequence>
			<xs:element name="ONBOARDMODEL" type="NumberMax2zType" minOccurs="1"/>
			<xs:element name="ONBOARDDATE" type="DateType" minOccurs="1"/>
			<xs:element name="ONBOARDSTATUS" type="pgwstatusType" minOccurs="1"/>
			<xs:element name="SPENDCAPLIMIT" type="SpendCapLimitType" minOccurs="0"/>
			<xs:element name="PROVISIONPRODUCTNAME" type="StringTypeM" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CREDITAMOUNT" type="xs:float" minOccurs="0"/>
			<xs:element name="PRODUCTOFFERINGID" type="xs:string" minOccurs="1"/>
			<xs:element name="ACTIVATION_INFO" type="activationType" minOccurs="0"/>
		</xs:sequence>
	</xs:group> 
	
	<xs:complexType name = "activationType">
      <xs:sequence>
         <xs:element name="FEE" type = "xs:float" minOccurs="1"/>
         <xs:element name="PAYMENT_GATEWAY_REF_ID" type = "StringTypeM" minOccurs="1"/>
		 <xs:element name="PAYMENT_GATEWAY_NAME" type="StringTypeM" minOccurs="1"/>
       </xs:sequence>
  </xs:complexType>
	
	<xs:simpleType name="DateType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
            </xs:restriction>
    </xs:simpleType>
 
	<xs:simpleType name="provdmodelType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1" />
       <xs:maxInclusive value="2" />
      </xs:restriction>
   </xs:simpleType> 
   
  
                  
                  
    <xs:element name="SUBSCRIBE_PRODUCT_OFFERING_RESPONSE">
        <xs:complexType>
			<xs:sequence minOccurs="0">
                <xs:element name="ORDERID" type="xs:string" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	
	
	<xs:simpleType name="pgwstatusType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1" />
       <xs:maxInclusive value="2" />
      </xs:restriction>
   </xs:simpleType>
   
   
    <xs:element name="UPDATE_BILLING_CYCLE_REQUEST">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID" type="NumberLen7zType" />
			<xs:element name="MSISDN" type="MSISDNType" />
            <xs:element name="DESC" type="StringTypeM" />
            <xs:element name="BILLINGCYCLE" type="StringTypeM" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="UPDATE_BILLING_CYCLE_RESPONSE">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="BILLINGACCOUNT" type="StringTypeM" minOccurs="0" nillable="true"/>
            <xs:element name="BILLINGCYCLE" type="StringTypeM" minOccurs="0" nillable="true"/>
            <xs:element name="VALIDFOR" type="ValidForType" minOccurs="0" nillable="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="ValidForType">
     <xs:sequence>
       <xs:element name="START" type="StringTypeM"/>
     </xs:sequence>
   </xs:complexType>
   
	<xs:element name="UPDATE_SPEND_CAP_LIMIT_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "AMOUNT" type = "SpendCapLimitType" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="UPDATE_SPEND_CAP_LIMIT_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "BILLINGACCOUNT" type = "StringTypeM" minOccurs="0" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
	<xs:simpleType name="SpendCapAmountType">
	<xs:restriction base="xs:decimal">
		<xs:maxInclusive value="999999"/>
		<xs:fractionDigits value="8"/>
	</xs:restriction>
	</xs:simpleType>

	<xs:element name="GET_ALL_PRODUCT_OFFERINGS_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType" />
			<xs:element name="DESC" type="StringTypeM" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GET_ALL_PRODUCT_OFFERINGS_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LIST" type="ListType1" minOccurs="0" maxOccurs="unbounded"/>                             
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	  
	<xs:complexType name="ListType1">
		<xs:sequence minOccurs="0">
			<xs:element name="NAME" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>	   
		</xs:sequence>
   </xs:complexType>
   
   <xs:element name="GET_PRODUCT_OFFERING_SUMMARY_REQUEST">
   <xs:complexType>
       <xs:sequence>
          <xs:element name = "ID" type = "NumberLen7zType" minOccurs="1"/>
       <xs:element name = "DESC" type = "StringTypeM" minOccurs="1"/>
       <xs:element name = "PRODUCTOFFERINGID" type = "StringTypeM" minOccurs="1" maxOccurs="1"/>                                 
       </xs:sequence>
   </xs:complexType>
   </xs:element>
   
    <xs:element name="GET_PRODUCT_OFFERING_SUMMARY_RESPONSE">
        <xs:complexType>
        <xs:sequence>
			   <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
	
	
		
	<xs:element name="GET_CURRENT_POSTPAID_PLAN_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
				<xs:element name="MSISDN" type="MSISDNType" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
                  
	<xs:element name="GET_CURRENT_POSTPAID_PLAN_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element name ="PRODUCTOFFERINGID" type ="StringTypeM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
  
  <xs:element name="GET_POSTPAID_PLAN_USAGES_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
				<xs:element name="MSISDN" type="MSISDNType" minOccurs="1"/>
				<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_POSTPAID_PLAN_USAGES_RESPONSE">
      <xs:complexType>
        <xs:sequence>
			   <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
		
	<xs:complexType name="OfferingTypes">
		<xs:sequence minOccurs="0">
			<xs:element name="NAME" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TYPE" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name ="ALLOWANCES" type ="AllowancesType_pp" minOccurs="0" maxOccurs="1"/>
			<xs:element name ="SPEND_CAPS" type ="SpendCapsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name ="ADDONS" type ="ADDONSType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
  </xs:complexType>
	
	<xs:complexType name="AllowancesType_pp">
		<xs:sequence minOccurs="0">
			<xs:element name ="ALLOWANCE" type ="AllowanceType_pp" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="AllowanceType_pp">
		<xs:sequence minOccurs="0">
			<xs:element name="NAME" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TYPE" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ALLOCATED_ALLOWANCE" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="USED_ALLOWANCE" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REMAINING_ALLOWANCE" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MEASURING_UNIT" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BILLED_FOR" type="BilledType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
    </xs:complexType>
	
		<xs:complexType name="BilledType">
			<xs:sequence minOccurs="0">
				<xs:element name="START" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
				<xs:element name="END" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			</xs:sequence >
		</xs:complexType>
	
	<xs:complexType name="SpendCapsType">
		<xs:sequence minOccurs="0">
			<xs:element name ="SPEND_CAP" type ="AllowanceType_pp" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>
	
	
	<xs:complexType name="ADDONSType">
		<xs:sequence minOccurs="0">
			<xs:element name ="ADDON" type ="ADDONType" minOccurs="0" maxOccurs="unbounded"/>
			
		</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="ADDONType">
		<xs:sequence minOccurs="0">
				<xs:element name="NAME" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
				<xs:element name="TYPE" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
				<xs:element name ="ALLOWANCES" type ="AllowancesType_pp" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
     </xs:complexType>
	
	
	
	<xs:element name="ORDER_STATUS_CHANGE_REQUEST">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
              <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>	
			  <xs:element name="ORDERID" type="xs:string" minOccurs="1"/>
			  <xs:element name="STATE" type="pgwstatusType" minOccurs="1"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="ORDER_STATUS_CHANGE_RESPONSE">
        <xs:complexType>
        <xs:sequence minOccurs="0">
			   <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
	
	
	<xs:element name="GET_SPEND_CAP_LIMIT_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_SPEND_CAP_LIMIT_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "BILLINGACCOUNT" type = "StringTypeM" minOccurs="0" nillable="true"/>
				<xs:element name = "VALUE" type = "SpendCapAmountType" minOccurs="0" nillable="true"/>
				<xs:element name = "UNIT" type = "StringTypeO" minOccurs="0" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="GET_BILLING_ACCOUNT_DETAILS_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_BILLING_ACCOUNT_DETAILS_RESPONSE">
		<xs:complexType>
			<xs:all minOccurs = "0">
				<xs:element name = "BILLINGACCOUNT" type = "StringTypeM" minOccurs="1" />
				<xs:element name = "BILLINGDATE" type = "YearDateType" minOccurs="1" />
				<xs:element name = "BILLINGSTATUS" type = "StringTypeM" minOccurs="1" />
				<xs:element name = "CONTRACTSTARTDATE" type = "StringTypeO" minOccurs="1"/>
				<xs:element name = "CONTRACTENDDATE" type = "StringTypeO" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="YearDateType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
            </xs:restriction>
    </xs:simpleType>
	
	
	<xs:simpleType name="BillperiodType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}-[0-9]{2}"/>
            </xs:restriction>
    </xs:simpleType>
	
	
	
	<xs:element name="GET_BILLED_USAGE_INFO_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			<xs:element name = "BILLPERIOD" type = "BillperiodType"  minOccurs="1"/>
			<xs:element name = "PAGE_SIZE" type = "NumberLen5Type"  minOccurs="0" maxOccurs="1"/>
			<xs:element name = "PAGE_NUMBER" type = "NumberLen5Type"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="GET_BILLED_USAGE_INFO_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "PAGE_INFO" type = "PageInfoType" minOccurs="0" maxOccurs="1"/>
				<xs:element name = "USAGE_INFO" type = "UsageinfoType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	  <xs:complexType name="PageInfoType">
		  <xs:sequence minOccurs="0">
			<xs:element name="TOTAL_NUMBER_OF_RECORDS" type="StringTypeM" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PAGE_SIZE" type="StringTypeM" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENT_PAGE" type="StringTypeO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NEXT_PAGE" type="StringTypeO" minOccurs="0"/>
			<xs:element name="PREVIOUS_PAGE" type="StringTypeM" minOccurs="0" maxOccurs="1"/>
		  </xs:sequence>
       </xs:complexType>
	
	<xs:element name="GET_UNBILLED_USAGE_INFO_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			<xs:element name = "PAGE_SIZE" type = "NumberLen5Type"  minOccurs="0" maxOccurs="1"/>
			<xs:element name = "PAGE_NUMBER" type = "NumberLen5Type"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_UNBILLED_USAGE_INFO_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "PAGE_INFO" type = "PageInfoType" minOccurs="0" maxOccurs="1"/>
				<xs:element name = "USAGE_INFO" type = "UsageinfoType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:complexType name="UsageinfoType">
		<xs:sequence minOccurs="0">
			<xs:element name="CALLTYPE" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SESSIONID" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SOURCE" type="StringTypeO" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESTINATION" type="StringTypeO" minOccurs="0"/>
			<xs:element name="TIMESTAMP" type="StringTypeM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DURATION" type="xs:float" minOccurs="1" maxOccurs="1"/>
		    <xs:element name="AMOUNT" type="xs:float" minOccurs="1" />
			<xs:element name="CURRENCY" type="StringTypeM" minOccurs="1" />
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
   </xs:complexType>
	
	
	
	<xs:element name="GET_CUSTOMER_BILL_SUMMARY_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_CUSTOMER_BILL_SUMMARY_RESPONSE">
		<xs:complexType>
			<xs:all minOccurs = "0">
				<xs:element name = "OUTSTANDINGAMOUNT" type = "SpendCapLimitType" minOccurs="1"/>
				<xs:element name = "DUEAMOUNT" type = "CustomerBillType" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	 <xs:complexType name = "CustomerBillType">
      <xs:sequence>
         <xs:element name="VALUE" type = "xs:float" minOccurs="0"/>
         <xs:element name="UNIT" type = "StringTypeO" minOccurs="0"/>
       </xs:sequence>
  </xs:complexType>
	
	
	<xs:element name="GET_CUSTOMER_BILL_PDF_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name = "ID" type = "NumberLen7zType" />
			<xs:element name = "DESC" type = "StringTypeM" />
			<xs:element name = "MSISDN" type = "MSISDNType"  minOccurs="1"/>
			<xs:element name = "BILLPERIOD" type = "BillperiodType"  minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_CUSTOMER_BILL_PDF_RESPONSE">
		<xs:complexType>
			<xs:sequence minOccurs = "0">
				<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>	   
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	 <xs:element name="UNSUBSCRIBE_PRODUCT_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
				<xs:element name="CHANNEL" type="StringTypeM" minOccurs="1"/>
				<xs:element name="MSISDN" type="MSISDNType" minOccurs="1"/>
				<xs:element name="UNSUBSCRIBE_TYPE" type="provdmodelType" minOccurs="1"/>
				<xs:element name="PRODUCTOFFERINGID" type="StringTypeM" minOccurs="1"/>
				<xs:element name="PROVISIONPRODUCTNAME" type="StringTypeM" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="UNSUBSCRIBE_PRODUCT_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
			  <xs:element name ="BILLINGACCOUNT" type ="StringTypeO" minOccurs="0" maxOccurs="unbounded"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	 <xs:element name="GET_MAX_CREDIT_TRANSFER_AMOUNT_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="NumberLen7zType" minOccurs="1"/>
                <xs:element name="DESC" type="StringTypeM" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_MAX_CREDIT_TRANSFER_AMOUNT_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
			  <xs:element name ="AMOUNT" type ="xs:float" minOccurs="1" maxOccurs="1"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_CUSTOMER_ACCOUNT_INFO_REQUEST">
      <xs:complexType>
			<xs:sequence>
			  <xs:element name ="ID" type ="NumberLen7zType" minOccurs="1" maxOccurs="1"/>
			  <xs:element name ="DESC" type ="StringTypeM" minOccurs="1" maxOccurs="1"/>
			  <xs:element name ="MSISDN" type ="MSISDNType" minOccurs="1" maxOccurs="1"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_CUSTOMER_ACCOUNT_INFO_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name = "TITLE" type="StringTypeO"  minOccurs="0"/>
				<xs:element name = "FIRSTNAME" type="StringTypeM" minOccurs="1"/>
				<xs:element name = "SURNAME" type="StringTypeM" minOccurs="1"/>
				<xs:element name = "BILLINGACCOUNT" type = "StringTypeM" minOccurs="1" />	
				<xs:element name = "BILLINGDATE" type = "YearDateType" minOccurs="1" />
				<xs:element name = "BILLINGSTATUS" type = "StringTypeM" minOccurs="1" />
				<xs:element name = "PRODUCTOFFERINGID" type="StringTypeM" minOccurs="0"/>		
				<xs:element name = "CONTRACTSTARTDATE" type = "StringTypeO" minOccurs="0"/>
				<xs:element name = "CONTRACTENDDATE" type = "StringTypeO" minOccurs="0"/>
				<xs:element name = "DUEAMOUNT" type = "CustomerBillType" minOccurs="1"/>
				<xs:element name = "OUTSTANDINGAMOUNT" type = "SpendCapLimitType" minOccurs="1"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	
	
</xs:schema>
