bharath/bharath/countries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:sch="http://example.com/countries"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://www.plintron.com/wsdl/"
        targetNamespace="http://www.plintron.com/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.com/countries">
<xs:include schemaLocation="./COMMON_DATA_TYPES.xsd"/>
   
   <xs:element name="GET_BILLING_CYCLES_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
                  
    <xs:element name="GET_BILLING_CYCLES_RESPONSE">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element minOccurs="1" name="LIST" nillable="true" type="ListType"/>
				<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>				  
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <xs:complexType name="ListType">
     <xs:all>
       <xs:element minOccurs="1" name="NAME" nillable="true" type="StringTypeO"/>
       <xs:element minOccurs="1" name="BILLINGDATESHIFT" nillable="true" type="BillingdateType"/>
       <xs:element minOccurs="1" name="LOCKED" nillable="true" type="BooleanType"/>
       <xs:element minOccurs="1" name="DESCRIPTION" nillable="true" type="StringTypeO"/>
       <xs:element minOccurs="1" name="FREQUENCY" nillable="true" type="StringTypeO"/>
       <xs:element minOccurs="1" name="DUEDATESHIFT" nillable="true" type="DueDateType"/>
     </xs:all>
   </xs:complexType>
   
   <xs:simpleType name="BillingdateType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="28"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="DueDateType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:element name="CREATE_CUSTOMER_REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
        <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
        <xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
		<xs:element minOccurs="0" name="ICCID" type="ICCIDType"/>
        <xs:element minOccurs="1" name="SUBSTYPE" type="NumberMax2zType"/>
        <xs:element minOccurs="1" name="PREFERREDLANGUAGE" type="PreferedLanguageType"/>
        <xs:element minOccurs="1" name="DOB" type="xs:date"/>
        <xs:element minOccurs="1" name="TITLE" type="TitleType"/>
        <xs:element minOccurs="1" name="FIRSTNAME" type="StringTypeM"/>
        <xs:element minOccurs="1" name="SURNAME" type="StringTypeM"/>
        <xs:element minOccurs="1" name="BILLINGCYCLE" type="StringTypeM"/>
        <xs:element maxOccurs="3" minOccurs="2" name="CONTACTMEDIUMS" type="ContactMediumsType"/>
		<xs:element minOccurs="0" name="CREDIT_SCORE" type="CreditScoreType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   
   <xs:simpleType name="PreferedLanguageType">
      <xs:restriction base="xs:string">
		<xs:enumeration value="nl"/>
        <xs:enumeration value="en"/>
	  </xs:restriction>
   </xs:simpleType>
   
      <xs:simpleType name="CreditScoreType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="999"/>
      </xs:restriction>
   </xs:simpleType>
   
   
  <xs:element name="CREATE_CUSTOMER_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element maxOccurs="1" minOccurs="1" name="BILLINGACCOUNTID" type="StringTypeM"/>
			</xs:sequence>
      </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ContactMediumsType">
    <xs:sequence>
      <xs:element minOccurs="1" name="TYPE" type="ContectMediumType"/>
	  <xs:choice>
		<xs:group ref="EmailAddressGroup"/>
		<xs:group ref="PostalAddressGroup"/>
	  </xs:choice>
    </xs:sequence>
  </xs:complexType> 
  
  	<xs:group name="EmailAddressGroup">
		<xs:sequence>
			<xs:element minOccurs="1" name="EMAILADDRESS" type="StringTypeO"/>
  			<xs:element minOccurs="0" name="PREFERRED" type="BooleanType"/>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="PostalAddressGroup">
		<xs:sequence>
			<xs:element minOccurs="1" name="CITY" type="StringTypeO"/>
			<xs:element minOccurs="1" name="COUNTRY" type="StringTypeO"/>
			<xs:element minOccurs="1" name="POSTCODE" type="StringTypeO"/>
			<xs:element minOccurs="1" name="STREETNAME" type="StringTypeO"/>
			<xs:element minOccurs="0" name="STREETNR" type="StringTypeO"/>
			<xs:element minOccurs="0" name="STREETTYPE" type="StringTypeO"/>
		</xs:sequence>
	</xs:group>
	
  <xs:complexType name="SpendCapLimitType">
      <xs:sequence>
         <xs:element minOccurs="1" name="VALUE" type="xs:float"/>
         <xs:element minOccurs="1" name="UNIT" type="StringTypeO"/>
       </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="TitleType">
      <xs:restriction base="xs:string">
		<xs:enumeration value="MR"/>
        <xs:enumeration value="MS"/>
		<xs:enumeration value="MRS"/>
        <xs:enumeration value="DR"/>
		<xs:enumeration value="MISS"/>
        <xs:enumeration value="MX"/>
		<xs:enumeration value="PROF"/>
        <xs:enumeration value="REV"/>
		<xs:enumeration value="SIR"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="ContectMediumType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="Email"/>
        <xs:enumeration value="PostalAddress"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:element name="GET_CREDIT_CHECK_REPORT_REQUEST">
   <xs:complexType>
       <xs:sequence>
          <xs:element name="ID" type="NumberLen7zType"/>
          <xs:element name="DESC" type="StringTypeM"/>
          <xs:element name="FIRSTNAME" type="StringTypeM"/>
          <xs:element name="SURNAME" type="StringTypeM"/>
          <xs:element name="DOB" type="StringTypeM"/>
		  <xs:element minOccurs="0" name="EMAIL" type="StringTypeO"/>
		  <xs:element minOccurs="0" name="CPR_NUMBER" type="StringTypeO"/>
          <xs:element maxOccurs="1" minOccurs="1" name="LOCATIONS" type="LocationsType1"/>
       </xs:sequence>
    </xs:complexType>
 </xs:element>

 <xs:element name="GET_CREDIT_CHECK_REPORT_RESPONSE">
    <xs:complexType>
       <xs:sequence minOccurs="0">
          <xs:element minOccurs="1" name="CREDITSTATUS" nillable="true" type="CreditStatusType"/>
		  <xs:element minOccurs="0" name="CREDIT_SCORE" nillable="true" type="xs:integer"/>
		  <xs:element minOccurs="0" name="CREDIT_INDICATOR" nillable="true" type="StringTypeO"/>
		  <xs:element minOccurs="0" name="CRIF_TRANSACTION_ID" nillable="true" type="StringTypeO"/>
       </xs:sequence>
    </xs:complexType>
 </xs:element>

   <xs:simpleType name="CreditStatusType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="PASS"/>
        <xs:enumeration value="FAIL"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   <xs:complexType name="LocationsType1">
     <xs:sequence maxOccurs="3" minOccurs="1">
       <xs:element name="LOCATION" type="LocationType1"/>
     </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="LocationType1">
     <xs:sequence>
	   <xs:element minOccurs="0" name="IS_OVERSEAS_LOCATION" type="xs:integer"/>
       <xs:element name="LOCATIONIDENTIFIER" type="LocationIdentType"/>
       <xs:element minOccurs="0" name="FLAT" type="StringTypeO"/>
       <xs:element minOccurs="0" name="HOUSENAME" type="StringTypeO"/>
       <xs:element name="HOUSENUMBER" type="StringTypeM"/>
       <xs:element name="STREET" type="StringTypeM"/>
       <xs:element minOccurs="0" name="STREET2" type="StringTypeO"/>
       <xs:element name="DISTRICT" type="StringTypeM"/>
       <xs:element minOccurs="0" name="DISTRICT2" type="StringTypeO"/>
       <xs:element name="POSTTOWN" type="StringTypeM"/>
       <xs:element name="COUNTRY" type="StringTypeM"/>
       <xs:element name="POSTCODE" type="StringTypeM"/>
       <xs:element minOccurs="0" name="POBOX" type="StringTypeO"/>
       <xs:element minOccurs="0" name="SHAREDLETTERBOX" type="SharedLetterBoxType"/>
	   <xs:element minOccurs="0" name="RESIDENTPERIOD" type="ResidentType"/>
     </xs:sequence>
   </xs:complexType>
   
   
   <xs:complexType name="ResidentType">
      <xs:sequence>
         <xs:element minOccurs="1" name="STARTDATE" type="YearDateType"/>
         <xs:element minOccurs="1" name="ENDDATE" type="YearDateType"/>
       </xs:sequence>
  </xs:complexType>
   
   <xs:simpleType name="LocationIdentType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
       <xs:maxInclusive value="3"/>
      </xs:restriction>
   </xs:simpleType>
   
   
   
    <xs:simpleType name="SharedLetterBoxType">
      <xs:restriction base="xs:string">
       <xs:enumeration value="Y"/>
        <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:element name="SUBSCRIBE_PRODUCT_OFFERING_REQUEST">
        <xs:complexType>
            <xs:sequence>
			
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
				<xs:element minOccurs="1" name="CHANNEL" type="xs:string"/>
				<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="PROVISIONMODEL" type="provdmodelType"/>
				<xs:choice>
					<xs:group ref="OnboardGroup"/>
					<xs:group ref="ProvisionGroup"/>
					<xs:group ref="UpgradeGroup"/>
				</xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	 <xs:group name="UpgradeGroup">
		<xs:sequence>
			<xs:element minOccurs="1" name="CURRENTPRODUCT" type="StringTypeM"/>
			<xs:element minOccurs="1" name="CHANGEPRODUCT" type="StringTypeM"/>
			<xs:element minOccurs="1" name="PLAN_CHANGE_OPTION" type="StringTypeO"/>
		</xs:sequence>
	</xs:group>
	
   <xs:group name="ProvisionGroup">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="PROVISIONPRODUCTNAME" type="StringTypeM"/>
			<xs:element minOccurs="1" name="PRODUCTOFFERINGID" type="xs:string"/>
		</xs:sequence>
	</xs:group>
    
	<xs:group name="OnboardGroup">
		<xs:sequence>
			<xs:element minOccurs="1" name="ONBOARDMODEL" type="NumberMax2zType"/>
			<xs:element minOccurs="1" name="ONBOARDDATE" type="DateType"/>
			<xs:element minOccurs="1" name="ONBOARDSTATUS" type="pgwstatusType"/>
			<xs:element minOccurs="0" name="SPENDCAPLIMIT" type="SpendCapLimitType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PROVISIONPRODUCTNAME" type="StringTypeM"/>
			<xs:element minOccurs="0" name="CREDITAMOUNT" type="xs:float"/>
			<xs:element minOccurs="1" name="PRODUCTOFFERINGID" type="xs:string"/>
			<xs:element minOccurs="0" name="ACTIVATION_INFO" type="activationType"/>
		</xs:sequence>
	</xs:group> 
	
	<xs:complexType name="activationType">
      <xs:sequence>
         <xs:element minOccurs="1" name="FEE" type="xs:float"/>
         <xs:element minOccurs="1" name="PAYMENT_GATEWAY_REF_ID" type="StringTypeM"/>
		 <xs:element minOccurs="1" name="PAYMENT_GATEWAY_NAME" type="StringTypeM"/>
       </xs:sequence>
  </xs:complexType>
	
	<xs:simpleType name="DateType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
            </xs:restriction>
    </xs:simpleType>
 
	<xs:simpleType name="provdmodelType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
       <xs:maxInclusive value="2"/>
      </xs:restriction>
   </xs:simpleType> 
   
  
                  
                  
    <xs:element name="SUBSCRIBE_PRODUCT_OFFERING_RESPONSE">
        <xs:complexType>
			<xs:sequence minOccurs="0">
                <xs:element minOccurs="1" name="ORDERID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	
	
	<xs:simpleType name="pgwstatusType">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
       <xs:maxInclusive value="2"/>
      </xs:restriction>
   </xs:simpleType>
   
   
    <xs:element name="UPDATE_BILLING_CYCLE_REQUEST">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="MSISDN" type="MSISDNType"/>
            <xs:element name="DESC" type="StringTypeM"/>
            <xs:element name="BILLINGCYCLE" type="StringTypeM"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="UPDATE_BILLING_CYCLE_RESPONSE">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" name="BILLINGACCOUNT" nillable="true" type="StringTypeM"/>
            <xs:element minOccurs="0" name="BILLINGCYCLE" nillable="true" type="StringTypeM"/>
            <xs:element minOccurs="0" name="VALIDFOR" nillable="true" type="ValidForType"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="ValidForType">
     <xs:sequence>
       <xs:element name="START" type="StringTypeM"/>
     </xs:sequence>
   </xs:complexType>
   
	<xs:element name="UPDATE_SPEND_CAP_LIMIT_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="AMOUNT" type="SpendCapLimitType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="UPDATE_SPEND_CAP_LIMIT_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="BILLINGACCOUNT" nillable="true" type="StringTypeM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
	<xs:simpleType name="SpendCapAmountType">
	<xs:restriction base="xs:decimal">
		<xs:maxInclusive value="999999"/>
		<xs:fractionDigits value="8"/>
	</xs:restriction>
	</xs:simpleType>

	<xs:element name="GET_ALL_PRODUCT_OFFERINGS_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GET_ALL_PRODUCT_OFFERINGS_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="LIST" type="ListType1"/>                             
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	  
	<xs:complexType name="ListType1">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="NAME" type="StringTypeM"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>	   
		</xs:sequence>
   </xs:complexType>
   
   <xs:element name="GET_PRODUCT_OFFERING_SUMMARY_REQUEST">
   <xs:complexType>
       <xs:sequence>
          <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
       <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
       <xs:element maxOccurs="1" minOccurs="1" name="PRODUCTOFFERINGID" type="StringTypeM"/>                                 
       </xs:sequence>
   </xs:complexType>
   </xs:element>
   
    <xs:element name="GET_PRODUCT_OFFERING_SUMMARY_RESPONSE">
        <xs:complexType>
        <xs:sequence>
			   <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
	
	
		
	<xs:element name="GET_CURRENT_POSTPAID_PLAN_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
				<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
                  
	<xs:element name="GET_CURRENT_POSTPAID_PLAN_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" minOccurs="0" name="PRODUCTOFFERINGID" type="StringTypeM"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
  
  <xs:element name="GET_POSTPAID_PLAN_USAGES_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
				<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
				<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_POSTPAID_PLAN_USAGES_RESPONSE">
      <xs:complexType>
        <xs:sequence>
			   <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
		
	<xs:complexType name="OfferingTypes">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="NAME" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="TYPE" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="0" name="ALLOWANCES" type="AllowancesType_pp"/>
			<xs:element maxOccurs="1" minOccurs="0" name="SPEND_CAPS" type="SpendCapsType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="ADDONS" type="ADDONSType"/>
		</xs:sequence>
  </xs:complexType>
	
	<xs:complexType name="AllowancesType_pp">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ALLOWANCE" type="AllowanceType_pp"/>
		</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="AllowanceType_pp">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="NAME" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="TYPE" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="ALLOCATED_ALLOWANCE" type="xs:float"/>
			<xs:element maxOccurs="1" minOccurs="1" name="USED_ALLOWANCE" type="xs:float"/>
			<xs:element maxOccurs="1" minOccurs="1" name="REMAINING_ALLOWANCE" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="MEASURING_UNIT" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="CURRENCY" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="BILLED_FOR" type="BilledType"/>
		</xs:sequence>
    </xs:complexType>
	
		<xs:complexType name="BilledType">
			<xs:sequence minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" name="START" type="StringTypeM"/>
				<xs:element maxOccurs="1" minOccurs="1" name="END" type="StringTypeM"/>
			</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="SpendCapsType">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SPEND_CAP" type="AllowanceType_pp"/>
		</xs:sequence>
    </xs:complexType>
	
	
	<xs:complexType name="ADDONSType">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ADDON" type="ADDONType"/>
			
		</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="ADDONType">
		<xs:sequence minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" name="NAME" type="StringTypeM"/>
				<xs:element maxOccurs="1" minOccurs="1" name="TYPE" type="StringTypeM"/>
				<xs:element maxOccurs="1" minOccurs="0" name="ALLOWANCES" type="AllowancesType_pp"/>
		</xs:sequence>
     </xs:complexType>
	
	
	
	<xs:element name="ORDER_STATUS_CHANGE_REQUEST">
      <xs:complexType>
			<xs:sequence minOccurs="0">
              <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
              <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>	
			  <xs:element minOccurs="1" name="ORDERID" type="xs:string"/>
			  <xs:element minOccurs="1" name="STATE" type="pgwstatusType"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="ORDER_STATUS_CHANGE_RESPONSE">
        <xs:complexType>
        <xs:sequence minOccurs="0">
			   <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>	   
        </xs:sequence>   
        </xs:complexType>
    </xs:element>
	
	
	<xs:element name="GET_SPEND_CAP_LIMIT_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_SPEND_CAP_LIMIT_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="BILLINGACCOUNT" nillable="true" type="StringTypeM"/>
				<xs:element minOccurs="0" name="VALUE" nillable="true" type="SpendCapAmountType"/>
				<xs:element minOccurs="0" name="UNIT" nillable="true" type="StringTypeO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="GET_BILLING_ACCOUNT_DETAILS_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_BILLING_ACCOUNT_DETAILS_RESPONSE">
		<xs:complexType>
			<xs:all minOccurs="0">
				<xs:element minOccurs="1" name="BILLINGACCOUNT" type="StringTypeM"/>
				<xs:element minOccurs="1" name="BILLINGDATE" type="YearDateType"/>
				<xs:element minOccurs="1" name="BILLINGSTATUS" type="StringTypeM"/>
				<xs:element minOccurs="1" name="CONTRACTSTARTDATE" type="StringTypeO"/>
				<xs:element minOccurs="1" name="CONTRACTENDDATE" type="StringTypeO"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="YearDateType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
            </xs:restriction>
    </xs:simpleType>
	
	
	<xs:simpleType name="BillperiodType">
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}-[0-9]{2}"/>
            </xs:restriction>
    </xs:simpleType>
	
	
	
	<xs:element name="GET_BILLED_USAGE_INFO_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			<xs:element minOccurs="1" name="BILLPERIOD" type="BillperiodType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PAGE_SIZE" type="NumberLen5Type"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PAGE_NUMBER" type="NumberLen5Type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="GET_BILLED_USAGE_INFO_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="PAGE_INFO" type="PageInfoType"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="USAGE_INFO" type="UsageinfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	  <xs:complexType name="PageInfoType">
		  <xs:sequence minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="0" name="TOTAL_NUMBER_OF_RECORDS" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PAGE_SIZE" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="0" name="CURRENT_PAGE" type="StringTypeO"/>
			<xs:element minOccurs="0" name="NEXT_PAGE" type="StringTypeO"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PREVIOUS_PAGE" type="StringTypeM"/>
		  </xs:sequence>
       </xs:complexType>
	
	<xs:element name="GET_UNBILLED_USAGE_INFO_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PAGE_SIZE" type="NumberLen5Type"/>
			<xs:element maxOccurs="1" minOccurs="0" name="PAGE_NUMBER" type="NumberLen5Type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_UNBILLED_USAGE_INFO_RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="PAGE_INFO" type="PageInfoType"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="USAGE_INFO" type="UsageinfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:complexType name="UsageinfoType">
		<xs:sequence minOccurs="0">
			<xs:element maxOccurs="1" minOccurs="1" name="CALLTYPE" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="SESSIONID" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="SOURCE" type="StringTypeO"/>
			<xs:element minOccurs="0" name="DESTINATION" type="StringTypeO"/>
			<xs:element maxOccurs="1" minOccurs="1" name="TIMESTAMP" type="StringTypeM"/>
			<xs:element maxOccurs="1" minOccurs="1" name="DURATION" type="xs:float"/>
		    <xs:element minOccurs="1" name="AMOUNT" type="xs:float"/>
			<xs:element minOccurs="1" name="CURRENCY" type="StringTypeM"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
			</xs:sequence>
   </xs:complexType>
	
	
	
	<xs:element name="GET_CUSTOMER_BILL_SUMMARY_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_CUSTOMER_BILL_SUMMARY_RESPONSE">
		<xs:complexType>
			<xs:all minOccurs="0">
				<xs:element minOccurs="1" name="OUTSTANDINGAMOUNT" type="SpendCapLimitType"/>
				<xs:element minOccurs="1" name="DUEAMOUNT" type="CustomerBillType"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	 <xs:complexType name="CustomerBillType">
      <xs:sequence>
         <xs:element minOccurs="0" name="VALUE" type="xs:float"/>
         <xs:element minOccurs="0" name="UNIT" type="StringTypeO"/>
       </xs:sequence>
  </xs:complexType>
	
	
	<xs:element name="GET_CUSTOMER_BILL_PDF_REQUEST">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID" type="NumberLen7zType"/>
			<xs:element name="DESC" type="StringTypeM"/>
			<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
			<xs:element minOccurs="1" name="BILLPERIOD" type="BillperiodType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GET_CUSTOMER_BILL_PDF_RESPONSE">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>	   
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	 <xs:element name="UNSUBSCRIBE_PRODUCT_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
				<xs:element minOccurs="1" name="CHANNEL" type="StringTypeM"/>
				<xs:element minOccurs="1" name="MSISDN" type="MSISDNType"/>
				<xs:element minOccurs="1" name="UNSUBSCRIBE_TYPE" type="provdmodelType"/>
				<xs:element minOccurs="1" name="PRODUCTOFFERINGID" type="StringTypeM"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="PROVISIONPRODUCTNAME" type="StringTypeM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="UNSUBSCRIBE_PRODUCT_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="BILLINGACCOUNT" type="StringTypeO"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	 <xs:element name="GET_MAX_CREDIT_TRANSFER_AMOUNT_REQUEST">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="ID" type="NumberLen7zType"/>
                <xs:element minOccurs="1" name="DESC" type="StringTypeM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_MAX_CREDIT_TRANSFER_AMOUNT_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
			  <xs:element maxOccurs="1" minOccurs="1" name="AMOUNT" type="xs:float"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_CUSTOMER_ACCOUNT_INFO_REQUEST">
      <xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="1" minOccurs="1" name="ID" type="NumberLen7zType"/>
			  <xs:element maxOccurs="1" minOccurs="1" name="DESC" type="StringTypeM"/>
			  <xs:element maxOccurs="1" minOccurs="1" name="MSISDN" type="MSISDNType"/>	
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	<xs:element name="GET_CUSTOMER_ACCOUNT_INFO_RESPONSE">
      <xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element minOccurs="0" name="TITLE" type="StringTypeO"/>
				<xs:element minOccurs="1" name="FIRSTNAME" type="StringTypeM"/>
				<xs:element minOccurs="1" name="SURNAME" type="StringTypeM"/>
				<xs:element minOccurs="1" name="BILLINGACCOUNT" type="StringTypeM"/>	
				<xs:element minOccurs="1" name="BILLINGDATE" type="YearDateType"/>
				<xs:element minOccurs="1" name="BILLINGSTATUS" type="StringTypeM"/>
				<xs:element minOccurs="0" name="PRODUCTOFFERINGID" type="StringTypeM"/>		
				<xs:element minOccurs="0" name="CONTRACTSTARTDATE" type="StringTypeO"/>
				<xs:element minOccurs="0" name="CONTRACTENDDATE" type="StringTypeO"/>
				<xs:element minOccurs="1" name="DUEAMOUNT" type="CustomerBillType"/>
				<xs:element minOccurs="1" name="OUTSTANDINGAMOUNT" type="SpendCapLimitType"/>
			</xs:sequence>
      </xs:complexType>
    </xs:element>
	
	
	
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="PlintronPortType">
  </wsdl:portType>
  <wsdl:binding name="PlintronPortTypeSoap11" type="tns:PlintronPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="PlintronPortTypeService">
    <wsdl:port binding="tns:PlintronPortTypeSoap11" name="PlintronPortTypeSoap11">
      <soap:address location="/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>